@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@87.3,200..900&family=Nanum+Gothic&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Nanum Gothic", sans-serif;
}

header {
    background-color: #8d364f;
    box-shadow: 0px 3px 10px 0px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
   
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0px 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    } 

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column ;
        text-align: center;
        padding-bottom: 0.5rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.container-img {
    background-image: url('https://wallpapers.com/images/featured/food-4k-1pf6px6ryqfjtnyr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(75vh - 100px);
    padding-top: 100px;
}

.pesquisar {
    margin: 120px 0px 40px 0px ;
    justify-content: center;
    text-align: center;
    color: white;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input-style {
    text-align: center;
    width: 70vh; 
    height: 40px;
    max-width: 90%;
    border-radius: 10px 0 0 10px;
    font-size: 16px; 
    box-sizing: border-box;
    border: 1px solid #000000;
}

.button-style {
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    border-radius: 0 10px 10px 0;
    border: 1px solid #000000;
    border-left: none; 
    height: 40px; 
    width: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.button-style:hover {
    background-color: #d0d0d0; 
}

.button-style img {
    width: 60%;
    height: 60%;
}
