<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="topnav" id="myTopnav">
            <div class="margintopnav">
                <a href="#home" class="active">Marias receitas</a>
                <a href="#news">Bolos</a>
                <a href="#contact">Salgados</a>
                <a href="#about">Doces</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="textomain">
            <h1>Seja bem vindo</h1>

            <h3>Nossas receitas:</h3>
        </div>
    </main>
    <footer>

    </footer>
    <script src="index.js"></script>
</body>

</html>